<ul id="dropdownNav" class="dropdown-content">
  <li><a href="/cats">Категории</a></li>
  <li><a href="/tags">Теги</a></li>
  <li class="divider"></li>
  <li><a href="/about">Обо мне</a></li>
</ul>

<nav class="container">
  <div class="nav-wrapper">
    <a href="{{ site.baseurl }}/" class="brand-logo center">{{ site.title }}</a>

    <a href="#" data-activates="mobile-bar" class="mobile-bar button-collapse"><i class="fa fa-bars"></i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="https://github.com/batazor"><span class="icon-github-01"></span></a></li>
      <li><a href="http://vk.com/batazor"><span class="icon-rus-vk-02"></span></a></li>
      <li><a href="http://codepen.io/batazor/"><span class="icon-codepen-01"></span></a></li>
      <li><a href="http://habrahabr.ru/users/batazor/"><span class="icon-rus-habrahbr"></span></a></li>
    </ul>
    <ul id="mobile-bar" class="side-nav">
      <li><a href="https://github.com/batazor"><span class="icon-github-01"></span> GitHub</a></li>
      <li><a href="http://vk.com/batazor"><span class="icon-rus-vk-02"></span> VK</a></li>
      <li><a href="http://codepen.io/batazor/"><span class="icon-codepen-01"></span> Codepen</a></li>
      <li><a href="http://habrahabr.ru/users/batazor/"><span class="icon-rus-habrahbr"></span> Habrahabr</a></li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="#!" data-activates="dropdownNav">Меню</a></li>
    </ul>
  </div>
 </nav>
