<!DOCTYPE html>
<html lang="ru">

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

    <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.slider').slider({full_width: true});
      });
    </script>
  </body>

</html>
